.wrapper {
  justify-content: center;
  width: 100%;
}

.hero {
  composes: wrapper;
  display: grid;
  grid-template-columns: 60% 38%;
  margin: 2rem auto;
  max-width: 1280px;

  .imageContainer {
    max-width: 720px;
    display: block;
    margin: 0 auto;
  }
}

.textContainer {
  color: 'red';
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  .titleContainer {
    width: fit-content;

    .title {
      font-size: min(5vw, 5rem);
      font-weight: bold;
    }
    .titleUnderline {
      background-color: #b49c9c; /* theme -> lightChocolate */
      display: block;
      height: 4px;
      margin-bottom: 1.5rem;
      width: 100%;
    }
  }

  .text {
    font-size: 1.2rem;
  }
}

/* About section */
.itemWrapper {
  display: flex;
  justify-content: space-between;
}

.arrowConnector {
  border-bottom: 3px dashed #4eca9a;
  height: 4rem;
  margin-bottom: 3rem;
  position: relative;
}
.arrowLeft {
  composes: arrowConnector;
  border-left: 3px dashed #4eca9a;
  border-end-start-radius: 24px;
}
.arrowRight {
  composes: arrowConnector;
  border-right: 3px dashed #4eca9a;
  border-end-end-radius: 24px;
}
.arrowPoint {
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #4eca9a;
}
.topRightPoint {
  composes: arrowPoint;
  top: -11px;
  right: -9px;
}
.topLeftPoint {
  composes: arrowPoint;
  top: -11px;
  left: -9px;
}
.bottomRightPoint {
  composes: arrowPoint;
  bottom: -9px;
  right: -11px;
}
.bottomLeftPoint {
  composes: arrowPoint;
  bottom: -9px;
  left: -11px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: -moz-available;
  width: -webkit-available;
  width: -o-available;
}
.textWrapperLeft {
  composes: textWrapper;
  margin-left: 8%;
}
.textWrapperRight {
  composes: textWrapper;
  margin-right: 8%;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}
.secondaryTitle {
  color: #00b46f; /* theme -> teal */
  font-size: min(4vw, 1.8rem);
  font-weight: bold;
}
.secondaryTitleUnderline {
  background-color: #c5f5e2; /* theme -> lightTeal */
  display: block;
  height: 3px;
  margin-bottom: 1rem;
  width: 100%;
}
.text {
  color: #6d5555;
  font-size: 1.1rem;
  font-weight: normal;
}

.textRightContainer {
  width: 100%;
  text-align: end;

  .titleContainer {
    composes: titleContainer;
    align-items: end;
  }
  .secondaryTitle {
    composes: secondaryTitle;
    padding-left: 2rem;
  }
  .text {
    composes: text;
    padding-left: 2rem;
  }
}
.textLeftContainer {
  width: 100%;

  .secondaryTitle {
    composes: secondaryTitle;
    padding-right: 2rem;
  }
  .text {
    composes: text;
    padding-right: 2rem;
  }
}

.about {
  composes: wrapper;
  background-color: white;
  display: flex;

  .contentContainer {
    justify-content: center;
    padding: 2rem;

    .imageContainer {
      align-items: center;
      border-radius: 34px;
      border: 5px solid #b3e8d4;
      box-shadow: 4px 8px 16px -3px #b3e8d4c4;
      display: flex;
      margin: 0;
      max-width: 410px;
      padding: 1.5rem;
    }
  }
}

/* Contact section */
.contentContainer {
  max-width: 1280px;
  padding: 2rem;
  width: 100%;
}

.usersComments {
  composes: wrapper;
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: #ff6d60;

  .wave {
    width: 100%;
    background-color: white;
  }

  .contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .imageContainer {
    max-width: 410px;
    width: 100%;
  }

  .commentsContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .blockquote {
    color: beige;
    font-family: Tahoma, sans-serif;
    font-size: min(5vw, 1.2rem);
    margin: 1rem 0;
    max-width: 540px;
    width: 80%;
  }
  .quote {
    font-style: italic;
    margin-bottom: 0;
  }
  .quote::before,
  .quote::after {
    content: '“';
    font-family: Georgia;
    font-size: 6rem;
    margin: -2rem 0 0 -3.5rem;
    position: absolute;
    opacity: 0.5;
  }
  .quote::after {
    content: '”';
    margin: -1rem -4rem 0 0;
  }
  .cite {
    font-size: 1.5rem;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  /* Hero */
  .hero {
    grid-template-columns: 1fr;
    padding-bottom: 3rem;

    .imageContainer {
      max-width: 720px;
    }

    .textContainer {
      align-items: center;

      .title {
        font-size: min(10vw, 5rem);
        text-align: center;
      }
      .text {
        text-align: center;
      }
    }
  }

  /* About */
  .arrowConnector {
    display: none;
  }
  .contentContainer .itemWrapper:nth-child(2) {
    flex-direction: column-reverse;
  }
  .itemWrapper {
    flex-direction: column;
    align-items: center;
  }

  .textWrapper {
    width: auto;
    margin-bottom: 0;
  }
  .textWrapperLeft {
    margin-left: 0;
  }
  .textWrapperRight {
    margin-right: 0;
  }

  .textRightContainer {
    padding: 1.5rem 0 3rem 0;
    text-align: center;

    .titleContainer {
      align-items: center;
    }
    .secondaryTitle {
      padding-left: 0;
    }
    .text {
      padding-left: 0;
    }
  }
  .textLeftContainer {
    padding: 1.5rem 0 3rem 0;
    text-align: center;

    .secondaryTitle {
      padding-right: 0;
    }
    .text {
      padding-right: 0;
    }
  }

  /* Comments */
  .usersComments {
    .contentContainer {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 3rem;
  }
}
