.wrapper {
  justify-content: center;
  width: 100%;
}

.contentContainer {
  max-width: 1280px;
  padding: 2rem;
  width: 100%;
}

/* Hero section */
.hero {
  composes: wrapper;
  display: grid;
  grid-template-columns: 60% 38%;
  margin: 2rem auto;
  max-width: 1280px;

  .imageContainer {
    max-width: 720px;
    display: block;
    margin: 0 auto;
  }
}

.textContainer {
  color: 'red';
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  .titleContainer {
    width: fit-content;

    .title {
      font-size: min(5vw, 5rem);
      font-weight: bold;
    }
    .titleUnderline {
      background-color: #b49c9c;
      display: block;
      height: 4px;
      margin-bottom: 1.5rem;
      width: 100%;
    }
  }

  .text {
    font-size: 1.2rem;
  }
}

/* About section */
.about {
  composes: wrapper;
  background-color: white;
  display: flex;

  .contentContainer {
    justify-content: center;
    padding-top: 4rem;
  }
}

/* Comments section */
.usersComments {
  composes: wrapper;
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: #ff6d60;

  .wave {
    width: 100%;
    background-color: white;
  }

  .contentContainer {
    padding-bottom: 5rem;
  }

  .imageContainer {
    max-width: 410px;
    width: 100%;
  }

  .commentSectionWrapper {
    margin: 3rem 0;

    .commentsContainer {
      align-items: center;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }

  .titleWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    /* margin: 1.5rem 0; */

    .commentsTitle {
      font-size: 1.8rem;
      text-align: center;
      max-width: 720px;
    }
    .titleUnderline {
      height: 3px;
      background-color: #ffe4e3;
      width: 100%;
      opacity: 0.3;
      margin-bottom: 4rem;
      max-width: 920px;
    }
  }
}
.commentSectionWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  /* Hero */
  .hero {
    grid-template-columns: 1fr;
    padding-bottom: 3rem;

    .imageContainer {
      max-width: 720px;
    }

    .textContainer {
      align-items: center;

      .title {
        font-size: min(10vw, 5rem);
        text-align: center;
      }
      .text {
        text-align: center;
      }
    }
  }

  /* Comments */
  .usersComments {
    .commentSectionWrapper {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 3rem;
  }
}
